.slidebar-container {
  display: flex;
  flex-direction: column;
}

.slidebar-system-item {
  background-color: rgb(204, 204, 211);
  padding: 2px 4px;
  border-radius: 5px;
  margin: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.slidebar-system-item:hover {
  background-color: rgb(212, 212, 216);
  cursor: pointer;
  transform: scale(1.05);
}