.item-container {
  background-color: bisque;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* height: 300px; */
  width: 900px;
  margin: 30px;
}
.img-container {
  height: 140px;
  width: 180px;
  padding: 20px;
  background-color: rgb(20, 231, 161);
}
.detail-item-container {
  display: flex;
  background-color: rgb(145, 236, 206);
  flex-direction: column;
}
.title {
  color: brown;
  font-size: 32px;
}
.user {
  width: 5%;
  height: 5%;
}
.contact-container {
  display: flex;
}
